@font-face{
  font-family: Audiowide;
  src: url(fonts/JockeyOne-Regular.ttf);
}

header{
  /*border-bottom: 5px solid #ff9b21;*/
  background-color: #9290cc;
  overflow: hidden;
  height: 200px;
  box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
}
footer{
  width: 100%;
  /*border-top: 3px solid #ff9b21;*/
  background-color: #36396c;
  height: 70px;
  box-shadow: 0 -3px 10px rgba(0,0,0,.23),0 -3px 10px rgba(0,0,0,.16);
}

footer a{
  color: #FFFFFF;
  margin-left: 20%;
}
.htheme{
  height: 20px;
  background: linear-gradient(#63639b, #9290cc);
  background-color: #63639b;
}

body{
  position: relative;
  max-width: 100%;
  margin: auto;
  background: linear-gradient(#F5F5F6, #FAFAFA);
  background-color: #63639b;
}

header img{
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  float: left;
}
header img:hover{
  transform: scale(1.05,1.05);
}
header img:active{
  transform: scale(1,1);
}

.site-name{
  font-size: 5em;
  line-height: 200px;
  color: #37332a;
  text-shadow: 1px 1px 8px #757575;
  font-family: Audiowide;
}

.copyright{
  line-height: 60px;
  margin-left: 3em;
  color: #FFFFFF;
  opacity: 0.7;
}

article{
  background-color: #63639b;
  border-radius: .4rem;
  margin: 3rem auto;
  margin-top: 3rem;
  margin-bottom: 3em;
  padding: 7rem 0rem;
  box-shadow: 0 10px 10px rgba(0,0,0,.23),0 10px 10px rgba(0,0,0,.16);
  color: #FFFFFF;
}

article p{
  color: #FFFFFF;
}
article td{
  border-bottom: none;
}

article h2{
  text-align: center;
  /*margin-top: 5rem;
  /*margin-top: 3em;*/
  color: #ffffff;
  opacity: 0.9;
}

td.propiedad{
  text-align: right;
  width: 45%;
  color: #ff9b21;
  font-weight: bold;
}

td.valor{
  text-align: left;
}
.site-title{
  margin-top: 5rem;
  font-size: 3em;
  border-bottom: 1px solid #BDBDBD;
  padding-bottom: 1rem;
}
.button, .form .button{
  background-color: #ff9b21;
  border-color: #c66c00;
  border-width: 2px;
  box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
  display: block;
}
.button:hover, .form .button:hover{
  background-color: #ff9b21;
  border-color: #c66c00;
  border-width: 2px;
  transform: scale(1.05,1.05);
}

.button:active, .form .button:active{
  background-color: #c66c00;
  transform: scale(1,1);
  box-shadow: none;
}

.form .insertar{
  border-color: #c66c00;
  border-width: 2px;
  background-color: white;
  box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
  display: block;
}

.form .insertar:focus{
  border-color: #c66c00;
  box-shadow: none;
}

.form .insertar:invalid{
  border-color: #E70808;
}

p{
  color: #FFFFFF;
  text-align: center;
}

/*-----Index.php-----*/

.index_article{
  width: 40%;
}

.iform .insertar{
  width: 70%;
  margin: 1rem auto;
  margin-top: 6rem;
}

.form .i_button{
  margin: 5rem auto;
  width: 70%;
}


/*-----Formulari.php-----*/

.form_article{
  width: 60%;
}

.nform .insertar{
  width: 50%;
  margin: 1rem auto;
  margin-top: 5rem;
}
.nform .insertar[disabled]{
  box-shadow: none;
}

.form .f_button{
  margin: 6rem auto;
  width: 50%;
}

/*-----Calendari.php-----*/

.calendari_article table {
  width: 70%;
  border-radius: .4rem;
  margin: auto;
  
}
.calendari_article tbody{
  border-spacing: 4px;
}

.calendari_article td,.calendari_article th {
  border: none;
  color: #212121;
  padding: 1.2rem 1.5rem;
  text-align: center;
  font-weight: bold;
}

.calendari_article th{
  background-color: #36396c;
  border: 4px solid #63639b;
  color: #FFFFFF;
}

.calendari_article th.mes, .calendari_article th.any{
  background-color: #9290cc;
  color: #212121;
}

.calendari_article td{
  background-color: #36396c;
  opacity: 0.4;
  color: #FFFFFF;
  border: 4px solid #63639b;
}

.calendari_article .lliure{
  background-color: #BDBDBD;
  opacity: 1;
  color: #212121;
}

.calendari_article .lliure:hover{
  background-color: #ff9b21;
  transform: scale(1.1,1.1);
  cursor: pointer;
}

.calendari_article .lliure:active{
  transform: scale(1,1);
  background-color: #c66c00;
}

.calendari_article .seleccionat, .calendari_article .seleccionat:hover{
  background-color: #c66c00;
}

.calendari_article .form .c_button{
  width: 30%;
  margin: 1rem auto;
  margin-top: 2%;
}

.calendari_article div{
  position: relative;
}

.calendari_article .prev, .calendari_article .next{
  padding: 0 0.5rem;
  display: inline-flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
}

.calendari_article .prev{
  left: 10%;
}
.calendari_article .next{
  right: 10%;
}

.calendari_article .disabled{
  background-color: #c66c00;
  transform: none;
  box-shadow: none;
  cursor: default;
}

.calendari_article th.mes{
  border-right: none;
}

.calendari_article th.any{
  border-left: none;
}

/*-----CrearHorari.php-----*/

.horari_article table {
  width: 70%;
  margin: 3rem auto;
  border-radius: .4rem;
}

.horari_article td, .horari_article th {
  border: 4px solid #63639b;
  padding: 1.2rem 1.5rem;
  margin: 1rem;
  text-align: center;
  color: #212121;
  font-weight: bold;
}

.horari_article th{
  background-color: #9290cc;
}

.horari_article td{
  background-color: #36396c;
  opacity: 0.4;
  color: #FFFFFF;
}

.horari_article .lliure{
  background-color: #BDBDBD;
  opacity: 1;
  color: #212121;
}

.horari_article .lliure:hover{
  background-color: #ff9b21;
  transform: scale(1.1,1.1);
  cursor: pointer;
}

.horari_article .lliure:active{
  transform: scale(1,1);
  background-color: #c66c00;
}

.horari_article .seleccionat, .horari_article .seleccionat:hover{
  background-color: #c66c00;
}

.horari_article .form .c_button, .horari_article a.button{
  width: 30%;
  margin: 1rem auto;
}


/*-----Contacte.php-----*/

.Contacte p{
  text-align: left;
  padding-left: 5%;
  font-size: 2rem;
}

.mapa{
  display: flex;
  justify-content: center;
}

/*------admin.php-----*/

.admin_article .button{
  width: 30%;
  margin: 1rem auto;
  margin-top: 2%;
}
