header{
  border-bottom: 5px solid #ff9b21;
  background-color: #9290cc;
  overflow: hidden;
  height: 200px;
  box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
}
footer{
  width: 100%;
  border-top: 3px solid #ff9b21;
  background-color: #36396c;
  height: 70px;
  box-shadow: 0 -3px 10px rgba(0,0,0,.23),0 -3px 10px rgba(0,0,0,.16);
}
.htheme{
  height: 20px;
  background: linear-gradient(#63639b, #9290cc);
  background-color: #63639b;
}

body{
  position: relative;
  max-width: 100%;
  margin: auto;
  background: linear-gradient(#F5F5F6, #FAFAFA);
  background-color: #63639b;
}

header img{
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  float: left;
  /*border: 3px solid white;
  border-radius: 20%;
  box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);*/
}
header img:hover{
  transform: scale(1.05,1.05);
}
header img:active{

  transform: scale(1,1);
}
.site-name{
  font-size: 5em;
  line-height: 200px;
  color: #212121;
  text-shadow: 1px 1px 8px #757575;

}

.copyright{
  line-height: 60px;
  margin-left: 3em;
  color: #FFFFFF;
  opacity: 0.7;
}

article{
  background-color: #63639b;
  border: 5px solid #ff9b21;
  border-radius: 5%;
  margin: 3rem auto;
  margin-top: 3rem;
  margin-bottom: 3em;
  padding: 7rem 0rem;
  /*height: 500px;*/
  box-shadow: 0 10px 10px rgba(0,0,0,.23),0 10px 10px rgba(0,0,0,.16);
  /*width: 40%;*/
}
article h2{
  text-align: center;
  /*margin-top: 5rem;
  /*margin-top: 3em;*/
  color: #ffffff;
  opacity: 0.9;
}
.site-title{
  margin-top: 5rem;
  font-size: 3em;
  border-bottom: 1px solid #BDBDBD;
  padding-bottom: 1rem;
}
.button, .form .button{
  background-color: #ff9b21;
  border-color: #c66c00;
  border-width: 2px;
  box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
  display: block;
}
.button:hover, .form .button:hover{
  background-color: #c66c00;
  border-color: #c66c00;
  border-width: 2px;
}

.form .insertar{
  border-color: #c66c00;
  border-width: 2px;
  background-color: white;
  box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
  display: block;
}

.form .insertar:focus{
  border-color: #c66c00;
  box-shadow: none;
}

.form .insertar:invalid{
  border-color: #E70808;
}

.form .insertar:placeholder-shown{
  border-color: #c66c00;
}

p{
  color: #ffffff;
  text-align: center;
}

/*-----Index.php-----*/

.index_article{
  width: 40%;
}

.iform .insertar{
  width: 70%;
  margin: 1rem auto;
  margin-top: 6rem;
}

.form .i_button{
  margin: 5rem auto;
  width: 70%;
}


/*-----Formulari.php-----*/

.form_article{
  width: 60%;
}

.nform .insertar{
  width: 50%;
  margin: 1rem auto;
  margin-top: 5rem;
}

.form .f_button{
  margin: 6rem auto;
  width: 50%;
}

/*-----Calendari.php-----*/

.calendari_article table {
  width: 70%;
  margin: 3rem auto;
  border: 3px solid #c66c00;
  border-radius: .4rem;
  box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
}

.calendari_article td,.calendari_article th {
  border: none;
  color: #212121;
  padding: 1.2rem 1.5rem;
  margin: 1rem;
}

.calendari_article th{
  background-color: #ffcc56;
}

.calendari_article td{
  background-color: #ffcc56;
}

.calendari_article .lliure{
  background-color: #ff9b21;
}

.calendari_article .lliure:hover{
  background-color: #c66c00;
}

.form .c_button{
  width: 30%;
  margin: 1rem auto;
}

.calendari_article{
}

/*-----Horario.php-----*/

.article_horari table {
  width: 70%;
  margin: 3rem auto;
  border-radius: .4rem;
}

.article_horari td, .article_horari th {
  border: 4px solid #63639b;
  padding: 1.2rem 1.5rem;
  margin: 1rem;
  text-align: center;
  color: #212121;
  font-weight: bold;
}

.article_horari th{
  background-color: #ff9b21;
}

.article_horari td{
  background-color: #ffcc56;
  color: #484848;
}

.article_horari .lliure{
  background-color: #ff9b21;
  color: #212121;
}

.article_horari .lliure:hover{
  background-color: #ff6d00;
  border: 4px solid #ff6d00;
}

.form .c_button{
  width: 30%;
  margin: 1rem auto;
}
